<section class="banner container mt-5">
    <h1 style="padding-top: 100px;">Sobre nosotros</h1>
    <p>Somos expertos en la renta de autos, tenemos el coche perfecto para cada situacion y necesidad.</p>
  </section>

  <br>
  <br>

  <section class="cuerpo container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Aprende Mas!</h1>
      <br>
      <div class="videoProt">
        @if (urlVideo) {
          <iframe [src]="urlVideo | protegido" width="560" height="315" frameborder="0" allowfullscreen></iframe>
        }
      </div>
      <hr class="my-4">
    </div>
    
    <br>
    <div class="integrante1">
      <h1 class="text-center fw-bold">Integrantes</h1>
      <hr>
      <table class="d-flex justify-content-center">
        <th class="borde">
          <img src="../../assets/img/elchivo.jpg" alt="" width="200px" height="200px" class="rounded-circle">
        </th>
        <th class=" info">
          <h5>*Noe Ezequiel Roman Arriaga &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
          <a class="text-body-primary" href="https://www.instagram.com/" >
            <i class="fab fa-instagram fa-3x" ></i>
          </a>
          <a class="text-body-primary" href="https://www.facebook.com/">
            <i class="fab fa-facebook fa-3x"></i>
          </a>
          <a class="text-body-primary" href="https://www.twitter.com/">
            <i class="fab fa-twitter fa-3x"></i>
          </a>
        </th>
        <th class="coche1">
          <h5>Coche Preferido: Ford Focus</h5>
        </th>
      </table>
      <hr>
      <table class="d-flex justify-content-center">
        <th class="borde">
          <img src="../../assets/img/jogga.jpg" alt="" width="200px" height="200px" class="rounded-circle">
        </th>
        <th class=" info">
          <h5>Jose Octavio Gutierrez Gutierrez&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
          <a class="text-body-primary" href="https://www.instagram.com/" >
            <i class="fab fa-instagram fa-3x" ></i>
          </a>
          <a class="text-body-primary" href="https://www.facebook.com/">
            <i class="fab fa-facebook fa-3x"></i>
          </a>
          <a class="text-body-primary" href="https://www.twitter.com/">
            <i class="fab fa-twitter fa-3x"></i>
          </a>
        </th>
        <th class="coche2">
          <h5>Coche Preferido: Honda Civic</h5>
        </th>
      </table>
      <hr>
      <table class="d-flex justify-content-center">
        <th class="borde">
          <img src="../../assets/img/decimo.jpg" alt="" width="200px" height="200px" class="rounded-circle">
        </th>
        <th class=" info">
          <h5>Diego Navarro Diez </h5>
          <a class="text-body-primary" href="https://www.instagram.com/" >
            <i class="fab fa-instagram fa-3x" ></i>
          </a>
          <a class="text-body-primary" href="https://www.facebook.com/">
            <i class="fab fa-facebook fa-3x"></i>
          </a>
          <a class="text-body-primary" href="https://www.twitter.com/">
            <i class="fab fa-twitter fa-3x"></i>
          </a>
        </th>
        <th class="coche3">
          <h5>Coche Preferido: Mazda 3</h5>
        </th>
      </table>
      <hr>
      <table class="d-flex justify-content-center">
        <th class="borde">
          <img src="../../assets/img/comal.jpg" alt="" width="200px" height="200px" class="rounded-circle">
        </th>
        <th class=" info">
          <h5>Edgar Eduardo Miranda Hernandez</h5>
          <a class="text-body-primary" href="https://www.instagram.com/" >
            <i class="fab fa-instagram fa-3x" ></i>
          </a>
          <a class="text-body-primary" href="https://www.facebook.com/">
            <i class="fab fa-facebook fa-3x"></i>
          </a>
          <a class="text-body-primary" href="https://www.twitter.com/">
            <i class="fab fa-twitter fa-3x"></i>
          </a>
        </th>
        <th class="coche4">
          <h5>Coche Preferido: Volkswagen Golf</h5>
        </th>
      </table>

      <hr>
    </div>
    
  </section>
