<nav class="navbar navbar-expand-lg navbar-light bg-nav">
    <div class="logo">
        <img src="../../assets/img/icon.png" alt="Logo" height="50">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="nav-links ml-auto">
            <a class="nav-link text-uppercase fw-bold" href="#" [routerLink]="['/menu-princ']">Inicio</a>
            <a class="nav-link text-uppercase fw-bold" href="#" [routerLink]="['/autos']">Vehículos</a>
            <a class="nav-link text-uppercase fw-bold" href="#" [routerLink]="['/nosotros']">Nosotros</a>
            <a class="nav-link text-uppercase fw-bold" href="#" [routerLink]="['/renta']">Renta un auto</a>
            <a class="nav-link text-uppercase fw-bold" href="#" [routerLink]="['/citas']">Citas</a>
        </div>
    </div>
    <div class="search-bar">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Buscar" #buscarTexto (keyup.enter)="BuscarCoche(buscarTexto.value)">
        <button class="btn btn-outline-success my-2 my-sm-0 text-uppercase" type="submit" (click)="BuscarCoche(buscarTexto.value)">Buscar</button>
    </div>
</nav>