.navbar {
    padding: 15px;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
}

.logo img {
    margin-right: 15px;
    width: 100px;
    height: 100px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    margin-right: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 200px;
    margin-right: 10px;
}
.bg-nav{
    background-color: #DFD0B8;
}
