<p-scrollPanel [style]="{ width: '100%', height: '500px', }">
    <h3>¿Que marcas tenemos disponibles?</h3>
    <p>Tenemos desde marcas basicas o compactas, hasta marcas de media y de muy alta gama. Entre ellas tenemos desde los mas vendidos del mundo, Toyotas, hasta marcas de alta gama como lo son Porsche o Lamborghini.Tambien tenemos lo ultra de lujo Pagani y los mas accequibles pero de igual manera seguros Honda.</p>
    <hr>
    <h3>Precios</h3>
    <p>Claramente no sera el mismo costo de renta de un Toyota Corola al de un coche Porsche, ya que como todo en este negocio, depende de la calidad y de la potencia que tenga dentro de la calle y fuera de ella. Asi como las comodidades que se tengan dentro del coche, porque no todo es velocidad sino comodidad, ya sea suficiente tecnologia, pantalla tactil, aire acondisionado o asientos acolchados.</p>
    <hr>
    <h3>Rentar un coche: ¿Qué buscan los usuarios?</h3>
    <p>El mundo de los coches en renta ofrece una amplia gama de opciones para satisfacer las necesidades y preferencias de cada usuario. Desde aquellos que buscan soluciones económicas y prácticas hasta los que desean experimentar el lujo y la exclusividad de un vehículo de alta gama, existe una opción perfecta para cada caso.</p>
    <hr>
    <h3>Usuarios que buscan coches económicos</h3>
    <p>Para muchos usuarios, la prioridad principal es encontrar un coche en renta que se ajuste a su presupuesto. Esto puede ser especialmente importante para viajes cortos o para aquellos que simplemente necesitan un medio de transporte temporal.</p>
    <hr>
    <h3>Usuarios que buscan coches de lujo</h3>
    <p>Para otros usuarios, la experiencia de conducción es tan importante como el precio. En este caso, buscan coches de lujo que ofrezcan un rendimiento superior, un diseño elegante y características tecnológicas de última generación. Marcas como Porsche, Lamborghini</p>
</p-scrollPanel>