<div class="container text-center">
    <button mat-button mat-flat-button mat-stroked-button>Ferrari</button>
    <button mat-button mat-flat-button mat-stroked-button>Lamborghini</button>
    <button mat-button mat-flat-button mat-stroked-button>Porsche</button>
    <button mat-button mat-flat-button mat-stroked-button>Honda</button>
    <button mat-button mat-flat-button mat-stroked-button>Lexus</button>
    <button mat-button mat-flat-button mat-stroked-button>BMW</button>
    <button mat-button mat-flat-button mat-stroked-button>Bugatti</button>
    <button mat-button mat-flat-button mat-stroked-button>Tesla</button>
    <button mat-button mat-flat-button mat-stroked-button>Toyota</button>
    <button mat-button mat-flat-button mat-stroked-button>Ford</button>
    <button mat-button mat-flat-button mat-stroked-button>Hyundai</button>
    <button mat-button mat-flat-button mat-stroked-button>Volkswagen</button>
    <button mat-button mat-flat-button mat-stroked-button>Mazda</button>
    <button mat-button mat-flat-button mat-stroked-button>Audi</button>
    <button mat-button mat-flat-button mat-stroked-button>Pagani</button>
</div>