<h1 class="animate__animated animate__bounce">{{coche.nombre}} <small>{{coche.precio}}</small></h1>
<hr>

<div class="row animated fadeIn fast">
    <div class="col md-4 text-center">
        <img src="{{coche.img}}" width="300px" class="img-fluid" alt="">
        <br><br>
        <a [routerLink]="['/autos']" class="btn btn-outline-danger btn-block" routerLinkActive="router-link-active" >Regresar</a>
        <a [routerLink]="['/renta']" class="btn btn-outline-danger btn-block" routerLinkActive="router-link-active" >Rentar auto</a>
    </div>
    <div class="col md-8">
        <h2 style="text-align: center;">{{coche.marca}}</h2>
        <h3>{{coche.nombre}}</h3>
        <p>{{coche.precio}}</p>
        <hr>
        <p>{{coche.descripcion}}</p>
        <p>{{coche.modelo}}</p>
        <p>{{coche.consumoDeCombustible}}</p>
        <p>{{coche.tipoDeMotor}}</p>
    </div>
</div>