<div class="contenedor">
    <div class="categoria">
        <h1>Autos Compactos</h1>
    </div>
    @for(i of misAutos; track i;){
        <div class="tarjeta">
            <h2 class="titulo">{{i.nombre}}</h2>
            <div class="cuerpo">
              <img src={{i.img}} alt="muestra">
              <p>{{i.modelo}}</p>
              <p>{{i.precio}}</p>
              <p>{{i.consumoDeCombustible}}</p>
            </div>
            <div class="pie"><a href="#">Ver oferta</a></div>
          </div>
    }
  </div>