<header [ngStyle]="encabezado">
    <h1 class="fw-bold text-uppercase">Formulario para la renta de un auto</h1>
</header>

<div class="container bg-form">
    <div class="row justify-content-center">
      <div class="col-md-6 p-5">
        <div class="card opacidad text-light p-5">
          <div class="card-header">
            <h4 class="mb-0 text-center">Registro</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group p-2">
                <label class="fw-bold">Nombre(s):</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="cita.nombre" placeholder="Ingrese su nombre(s)">
              </div>
              <div class="form-group p-2">
                <label  class="fw-bold">Apellidos:</label>
                <input type="email" class="form-control" id="email" name="apellido" [(ngModel)]="cita.apellido" placeholder="Ingrese sus apellidos">
              </div>
              <div class="form-group p-2">
                <label  class="fw-bold" >Numero telefonico:</label>
                <input type="number" class="form-control" id="num" name="telefono" [(ngModel)]="cita.telefono" placeholder="Ingrese su numero telefonico">
              </div>
              <div class="form-group p-2">
                <label  class="fw-bold">Correo electronico:</label>
                <input type="email" class="form-control" id="dom" name="correo" [(ngModel)]="cita.correo" placeholder="Ingrese su correo electronico">
              </div>
              <div class="form-group p-2">
                <label  class="fw-bold">Fecha de renta:</label>
                <input type="datetime-local" class="form-control" id="end" name="fecha" [(ngModel)]="cita.fecha" placeholder="Ingrese su fecha de finalizacion">
              </div>
              <div class="form-group p-2">
                <label class="fw-bold">Nombre del auto:</label>
                <input type="text" class="form-control" id="nombrecar" name="nomAuto" [(ngModel)]="cita.nomAuto">
              </div>
              <div class="form-group p-2">
                <label class="fw-bold">Marca del auto:</label>
                <input type="text" class="form-control" id="marca" name="marca" [(ngModel)]="cita.marca">
              </div>
              <div class="form-group p-2">
                <label class="fw-bold">Modelo:</label>
                <input type="text" class="form-control" id="modelcar" name="modelo" [(ngModel)]="cita.modelo">
              </div>
              <div class="form-group p-2">
                <label  class="fw-bold">Dias totales:</label>
                <input type="number" class="form-control" id="end" name="diasRentados" [(ngModel)]="cita.diasRentados">
              </div>
              <div class="p-2 d-flex justify-content-center">
                <button type="button" class="btn btn-warning fw-bold" (click)="this.nuevaCita('Felicidades, Tu renta se ha agendado', 'Cerrar')" >RENTAR AHORA!</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>